.accounts{
    background-color: rgb(253, 253, 253);
  }
  .accounts .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .accounts-list{
    display: flex;
    align-items: center;
    margin-left: -24px;
    margin-top: -10px;
    flex-wrap: wrap;

  }
  .accounts-list li{
    position: relative;
    height: 60px;
    flex-basis: calc(100% / 5 - 24px);
    /* background-color: rgb(45, 124, 241); */
    border-radius: 5px;
    margin-left: 24px;
    margin-top: 10px;
  }
  .add-account{
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: grey;
    border-color: rgb(161, 161, 161);
    border-style: dashed;
    border-radius: 5px;
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
  }
  .add-account:hover{
    border-color: var(--primary-brand);
    color: var(--primary-brand);

  }

  .default-account{
    background-color: rgb(45, 124, 241);
  }
  .button-account{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background-color: rgb(45, 124, 241); */
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  .account-icon{
    width: 47px;
    height: 47px;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  .icon-account-type{
    width: 47px;
    height: 47px;
    fill: white;
  }
  .name-custom{
    text-align: start;
    font-size: 17px;
    color: white;
  }
  .balance{
    margin-top: 4px;
    color: white;
  }
  .account-edit{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    opacity: 0;
    padding: 0;
  }
  .icon-edit{
    width: 15px;
    height: 15px;
    fill: white;
    opacity: 0.5;
  }
  
  .accounts-list li:hover .account-edit{
    opacity: 1;
  }

  .account-edit:hover{
    background-color: transparent;
    opacity: 1;
  }

  .account-edit:hover .icon-edit{
    fill: white;
    opacity: 1;
  }
