.type-picker{
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;  
    z-index: 3;
    border-radius: 6px;
}
.type-select-box{
    height: 36px; 
    position: relative;
    border-radius: 6px;
}
.type-options-12{
    display: none;
}
.type-options-12.show{
    z-index: 2;
    display: block;
    
    overflow-y: scroll;
    border: 1px solid var(--primary-brand);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
}

.type-options-12 ul li{
    cursor: pointer;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 6px;
    /* justify-content: center; */
    border-top: 1px solid #cccccc70;
}
.type-options-12 ul li:hover{
  background-color: #cccccc7e;   
}


/* Style the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Style the thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 6px;
    height: 30px;
  }
  
  /* Style the track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-bottom-right-radius: 6px;
  }





  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  .currency-picker{
    /* width: 100px; */
    /* border: 1px dotted red; */
    background-color: white;
    display: flex;
    flex-direction: column;  
    z-index: 2;
    border-radius: 6px;
  }
  .currency-btn-x-22{
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
  }
  .currency-btn-x-22.show{
    border-color: var(--primary-brand);
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .currency-options-3{
    display: none;
  }
  .currency-options-3.show{
    display: block;
    z-index: 2;
    overflow-y: scroll;
    border: 1px solid var(--primary-brand);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
  }
  .currency-options-3 ul li{
    cursor: pointer;
    width: 100%;
    height: 36px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #cccccc70;
}
.currency-options-3 ul li:hover{
  background-color: #cccccc7e;  
}


.type-acc-icon{
  width: 20px;
  height: 20px;
  fill: white;
}
.type-icon-box{
  background-color: #ccc;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.currency-select-box{
  position: relative;
}
#caret-down-short{
  position: absolute;
  right: 15%;
  top: 18px;
  z-index: 3;
}
.exclude-stat-info{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  margin-left: 5px;

  width: 20px;
  height: 20px;
}
.exclude-stat-info:hover{
  
}
.info-pop-up{
  fill: var(--primary-brand);
}